@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TPOT_Links.Pages.Logs.IndexModel
@{
    var splunky_logs = Model.SplunkyLogs;
    var splunkySearch = Model.SplunkySearch;
}

<div
    class='flex flex-col' x-data='setup()'>

    <form
        hx-page="Index"
        hx-page-handler="FullSearchLogs"
        hx-post
        hx-target="#splunky_logs"
        hx-swap="innerHTML"
        class="form-horizontal needs-validation" _="on htmx:beforeSend set #submitButton.disabled to 'disabled'">
        <div class="card-body">
            @* <div class="mb-3"> *@
            @*     <label class="form-label">@nameof(@splunkySearch.created_by)</label> *@
            @*     <input type="text" class="input-accent input" *@
            @*            name="@nameof(@Model.SplunkySearch.created_by)"> *@
            @* </div> *@
            @* *@
            @* <div class="mb-3"> *@
            @*     <label class="form-label">@nameof(@splunkySearch.modified_by)</label> *@
            @*     <input type="text" class="input-accent input" *@
            @*            name="@nameof(@Model.SplunkySearch.modified_by)"> *@
            @* </div> *@

            <div class="mb-3">
                <label class="form-label">Search</label>
                <input type="text" class="input-accent input"
                       name="@nameof(@Model.search_term)">
            </div>

            @* <template x-if="false"> *@
            @*     <div class="mb-3"> *@
            @*         <label class="form-label">@nameof(@splunkySearch.is_archived)</label> *@
            @*         <input type="checkbox" class="input-accent input" *@
            @*                name="@nameof(@Model.SplunkySearch.is_archived)"> *@
            @*     </div> *@
            @* </template> *@
            
            <div id="submitButton" class="form-control mt-6">
                <button type="submit"
                        class="btn btn-primary">
                    Submit
                </button>
            </div>

        </div>

        @Html.AntiForgeryToken()

    </form>

    <partial name="_LogsTable" model="@splunky_logs"/>

    <span id="loading_rows" class="htmx-indicator loading loading-infinity loading-lg"></span>
    <template x-if="true">

        <button
            id="seed_btn"
            class="btn btn-primary"
            hx-get
            type="button"
            hx-page-handler="SeedLogs"
            hx-target="#seed_btn"
            hx-swap="outerHTML"
            hx-trigger="load"
            hx-indicator="#loading_rows"
            hx-page="Index">
            Seed
        </button>

    </template>
</div>

<script>
   
    function setup() {
        return {
            header: "Logs!!"
        }
    }
</script>