@using Page = TPOT_Links.Models.Page;
@model IList<Page>
@{
  // C# vars go here!
  //var tpot_pages = Model;
}



@if (Model is {} tpot_pages)
{
    <table class="table w-full">
     <thead>
      <tr>
        <th>page_id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Author #</th>
        <th>Slug</th>
        <th>Url</th>
      </tr>
    </thead>
    <tbody>
        @foreach (var tpot_page in tpot_pages)
        {
            <tr>
                <td>@tpot_page.Id</td>
                <td>@tpot_page.Title</td>
                <td>@tpot_page.Description</td>
                <td>@tpot_page.Author</td>
                <td>@tpot_page.Slug</td>
                <td>@tpot_page.Url</td>
            </tr>
        }
    </tbody>
    </table>
}
else
{
    <tr>
        <td colspan="4">No Results for "@Model"</td>
    </tr>
}

<!-- 
<div x-data='{value: "blargh"}'>
    <div class="card p-5 mb-4 text-white">
        <button x-text='value' class='btn btn-primary'>Hi!</button>
       
    </div>
</div> -->