@model IList<TPOT_Links.Models.Paper>
@{
  // C# vars go here!
}

@if (Model is {} tpot_pages)
{
    <div class="overflow-x-clip">

        <table class="table table-zebra w-full">
            <thead>
                <tr>
                    <th>page_id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Author #</th>
                    <th>Slug</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tpot_page in tpot_pages)
                {
                    <tr class='hover'>
                        <td>@tpot_page.Id</td>
                        <td>@tpot_page.Title</td>
                        <td>@tpot_page.Description</td>
                        <td>@tpot_page.Author</td>
                        <td>@tpot_page.Slug</td>
                        <td>@tpot_page.Url</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <tr>
        <td colspan="4">No Results for "@Model"</td>
    </tr>
}
